@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
#education{
    padding-bottom: 50px;
}
.education__container{
    width: 70%;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}
.circle__container{
    position: absolute;
    background: #f1f2f7;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    left: 43%;
    top: -25%;
    overflow: hidden;
}
.circle{
    position: absolute;
    background: rgb(86, 197, 114);;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    left: 11%;
    top: 12%;
}
.circle p{
    position: absolute;
    left: 34%;
    top: 10%;
    font-size: 1.06rem;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.education__info{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 10px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #f1f2f7;
}
.education__info ul{
    text-align: left;
}

.education__info ul li{
    list-style: disc;
    color: #838080;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

@media screen and (max-width: 1500px){
    .education__container{
        width: 80%;
    }
}
@media screen and (max-width: 500px){
    .circle__container{
        left: 29%;
    }
}
@media screen and (max-width: 420px){
    .circle__container{
        left: 25%;
    }
}
@media screen and (max-width: 400px){
    .circle__container{
        left: 22%;
    }
}
