.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
    background-color: #fff;
}
.header__logo{
    display: flex;
}
.header__logo i{
    padding-top: 30px;
    font-size: 13px;
    padding-left: 15px;
}
.header__logo > img{
    width: 60px;
    height: 50px;
    margin-top: 10px;
}
.header__nav{
    display: flex;
}
.header__nav > ul{
    display: flex;
    justify-content: space-evenly;
}
.header__nav > ul > li{
    list-style: none;
    padding: 10px 20px;
}
.header__nav > ul > li > a{
    text-decoration: none;
    color: #000;
}
@media screen and (max-width: 1000px){
    .header__logo i{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .header__nav a{
        font-size: 13px;
    }
    .header__logo img{
        width: 40px;
        height: 30px;
        margin-top: 15px;
    }
    .header__nav > ul > li{
        list-style: none;
        padding: 5px 10px;
    }
}
@media screen and (max-width: 500px){
    .header__nav a{
        font-size: 11px;
    }
    .header__logo img{
        width: 30px;
        height: 20px;
        margin-top: 20px;
    }
    .header__nav > ul > li{
        list-style: none;
        padding: 5px 10px;
    }
}