#projects{
    width: 100%;
    margin: 0 auto;
}
.projectItem__container{
    width: 80%;
    height: auto;
    overflow: hidden;
    margin: 0px auto;
    padding-bottom: 70px;
}
.projectItem__content{
    width: 35%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    float: left;
    margin: 100px 70px 0px 90px;
    border-radius: 10px;
    padding: 10px 10px;
    position: relative;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25)
}
.projectItem__content__box{
    width: 70%;
    height: 150px;
    position: absolute;
    top: 65%;
    left: 40%;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(196, 231, 231));
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 1s;
}
.projectItem__content:hover .projectItem__content__box{
    opacity: 1;
    transition: opacity 1s;
}
.projectItem__content__box h2{
    margin-top: 30px;
    padding: 0px 45px;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.projectItem__image{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.projectItem__option{
    display: flex;
    justify-content: space-around;
}
.projectItem__view--btn{
    width: 70px;
    height: 70px;
    background-color: rgb(135, 154, 236);
    border-radius: 100%;
    box-shadow: 5px 5px 15px 5px rgba(69, 1, 196, 0.25);
    transition: 700ms;
}
.projectItem__view--btn a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(226, 226, 226);
    line-height: 70px;
    padding-left: 10px;
}
.projectItem__view--btn:hover{
    transform: scale(1.2);
    transition: all 700ms;
}
@media screen and (max-width: 1600px){
    .projectItem__container{
        width: 100%;
    }
}
@media screen and (max-width: 1400px){
    .projectItem__container{
        margin-top: 0px;
    }
    .projectItem__content{
        height: 250px;
        margin: 100px 20px 0px 90px;
    }
    .projectItem__content__box{
        width: 60%;
        height: 130px;
        top: 65%;
        left: 47%;
    }
    .projectItem__content__box h2{
        font-size: 1rem;
        padding: 0px 24px;
    }
    .projectItem__view--btn{
        width: 55px;
        height: 55px;
    }
    .projectItem__view--btn a{
        line-height: 55px;
        font-size: .75rem;
    }
}
@media screen and (max-width: 1200px){
    .projectItem__container{
        width: 100%;
        margin: 0 auto;
    }
    .projectItem__content{
        width: 70%;
        height: 35vw;
        margin: 50px 0px 0px 12.5%;
    }
    .projectItem__content__box{
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
    }
    .projectItem__content__box h2{
        font-size: 0.85rem;
        padding: 0px 9%;
    }
    .projectItem__view--btn{
        width: 55px;
        height: 55px;
    }
    .projectItem__view--btn a{
        line-height: 55px;
        font-size: .75rem;
    }
    .projectItem__option{
        margin-top: 5%;
    }
}
